# directories to ignore
linflow_archive/plots
datasets/*/torch-dataset
# Jupyter notebooks ignores
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Byte-compiled / optimized / DLL files
*__pycache__/
*.py[cod]
*$py.class

# IPython
profile_default/
ipython_config.py
# Ignore IDE specific files
.idea/
.vscode/
*.sw*